/* VARIABLES */

:root {
    /* COLORS */

    --BGCOLOR: #EFF6FF;
    --MAINTEXT: #2A4A5C;
    --FBBUTTON: #255A9B;
    --INBUTTON: #0076B6;
    --SBMTBUTTON: #3698FB;
    --SECONDARYTEXT: #7B8A92;
}

/* GENERAL STYLES */

body {
    background-color: var(--SECONDARYTEXT);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: 'Barlow', sans-serif;
}

/* BLOCKS */
.main {
    margin: 0 auto;
    padding: 0;
    display: grid;
    flex-wrap: wrap;
}

.sides {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* VARIABLES */

:root {
    /* COLORS */

    --BGCOLOR: #EFF6FF;
    --MAINTEXT: #2A4A5C;
    --FBBUTTON: #255A9B;
    --INBUTTON: #0076B6;
    --SBMTBUTTON: #3698FB;
    --SECONDARYTEXT: #7B8A92;
}

/* GENERAL STYLES */

body {
    background-color: var(--SECONDARYTEXT);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: 'Barlow', sans-serif;
}

/* BLOCKS */

.main {
    margin: 0 auto;
    padding: 0;
    display: grid;
    flex-wrap: wrap;
}

.sides {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container-right {
    width: 40vw;
}

/* ELEMENTS */

.search__input {
    width: 96%;
    font-size: 16px;
    border: 1px solid #ddd;
    padding: 12px;
    margin-bottom: 5px;
}

.search__list__ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.search__list__ul__li__a {
    width: 96%;
    border: 1px solid #ddd;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

.repos {
    width: 100%;
}

.repos__table {
    width: 100%;
}

.repos__table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.repos__table tr:nth-child(even) {
    background-color: #dddddd;
}

/* MODIFIERS */

.search__list__ul__li__a:hover:not(.header) {
    background-color: #eee;
}




